.current-weather {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 30rem;
  justify-content: center;;
}

.current-weather__title {
  font-size: 3rem;
}

.current-weather__weather,
.current-weather__temperature,
.current-weather__description {
  font-size: 2rem;
}

.current-weather__temperature {
  margin-bottom: 2rem;
}

.current-weather__icon {
  font-size: 8rem;
}

.current-weather__high,
.current-weather__low {
  font-size: 1.8rem;
}

.current-weather__description {
  margin-top: 1rem;
}