/*Base CSS*/
:root {
  --color-blue-dark-1: #3E74B0;

  --color-blue-light-1: #dbe5f1;
  --color-blue-light-2: #D1E0EF;

  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f6f6f6;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;

  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;

  --color-error-primary: #DF7044;
  --color-error-secondary: #ECC8C5;

  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  --line: 1px solid var(--color-blue-light-1);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background: url('../image/background.svg');
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--color-grey-dark-1);
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  line-height: 1.6;
  min-height: 100vh;
}

.container {
  background-color: var(--color-grey-light-1);
  border-radius: 4px;
  box-shadow: var(--shadow-dark);
  margin: 5rem auto;
  max-width: 120rem;
  min-height: 50rem;
}

@media only screen and (max-width: 75em) {
  .container {
    margin: 0;
    max-width: 100%;
    width: 100%;
  }
}

/* custom icon font color */
.wi {
  color: var(--color-blue-dark-1);
}