.header {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

/* .search-form {
  align-items: center;
  display: flex;
  flex: 0 0 40%;
  justify-content: center;
}

.search-form__input {
  background-color: var(--color-grey-light-2);
  border: none;
  border-radius: 100px;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  margin-right: -5.25rem;
  padding: 0.7rem 2rem;
  transition: all 0.2s;
  width: 90%;
}

.search-form__input:focus {
  background-color: var(--color-grey-light-3);
  outline: none;
  width: 100%;
}

.search-form__input::-webkit-input-placeholder {
  color: var(--color-grey-light-4);
  font-weight: 100;
}

.search-form__input:focus + .search-form__button {
  background-color: var(--color-grey-light-3);
}

.search-form__button {
  background-color: var(--color-grey-light-2);
  border: none;
  text-transform: uppercase;
}

.search-form__button:focus {
  outline: none;
}

.search-form__button:hover {
  cursor: pointer;
}

.search-form__button:active {
  transform: translateY(2px);
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset;
} */