.forecast-title {
  font-size: 3rem;
  margin-bottom: 2rem;
  text-align: center;
}

.forecast-list-item__hour {
  font-size: 2rem;
}

.forecast-list-item__title {
  font-size: 1.5rem;
}

.forecast-list-item {
  border: 1px solid green;
  flex: 1;
  /* flex-basis: 30rem; */
  padding: 2rem 1rem;
}

.high-low {
  display: flex;
  justify-content: space-around;
}